src/

rollup.config.mjs
tsconfig.json

.vscode/
.DS_Store

.gitignore
.prettierrc
.prettierrc.js
.prettier.config.js
.eslintrc
.eslintrc.js

*.test.ts
*.spec.ts
tests/
__tests__/

.env
.env.*

*.tsbuildinfo
